.header {
  padding: 50px 64px;
  display: flex;
  justify-content: space-between;
}
a {
  text-decoration: none;
}

.header-menu ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.header-menu {
  font-size: 14px;
  line-height: 29px;
}

.header-menu li {
  margin: 0 24px;
}

.header-logo {
  font-weight: 600;
  font-size: 14px;
  line-height: 29px;
}

.header-don-but {
  width: 72px;
  height: 27px;
  background: rgba(253, 180, 97, 0.82);
  border-radius: 4px;
  font-family: Poppins;
  font-size: 14px;
  color: rgba(62, 34, 3, 0.82);
  border-style: none;
  white-space: nowrap;
}
