body {
  margin: auto;
  width: 1440px;
  background-color: black;
  color: white;
  font-family: "Poppins", sans-serif;
}

.top-container {
  background-image: url(/images/back1.jpg);
  background-repeat: no-repeat;
}
.bottom-container {
  margin-top: 320px;
  height: 2158px;
  background-image: url(/images/back2.jpg);
  background-repeat: no-repeat;
}

.all-title {
  margin-top: 0;
  margin-bottom: 40px;
}

.text-black {
  color: black;
}

h1 {
  width: 999px;
  font-weight: bold;
  font-size: 72px;
  line-height: 86px;
}

p {
  width: 627px;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
}
.parag16 {
  margin: 0 0 16px 0;
}
.parag24 {
  margin: 0 0 24px 0;
}
.parag32 {
  margin: 0 0 32px 0;
}

.all-but-donate {
  width: 150px;
  background: rgba(253, 180, 97, 0.82);
  margin: 0 24px 0 0;

  font-family: "Poppins";
  border-radius: 8px;
  border-style: none;
  font-weight: 600;
  font-size: 18px;
  height: 51px;
  color: rgba(62, 34, 3, 0.82);
}

.all-link a {
  color: rgba(253, 180, 97, 0.82);
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  border-bottom: 2px solid rgba(253, 180, 97, 0.82);
}

.all-feedback-logo img {
  border-radius: 50%;
  margin: 0;
}
blockquote {
  margin: 0;

  font-style: italic;
  font-size: 18px;
  line-height: 27px;
}

.all-feedback-text .all-feedback-text1 {
  margin: 0 0 16px 24px;
  font-size: 18px;
  line-height: 27px;
  width: 543px;
}
.all-feedback-name {
  margin: 0 0 0 24px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 18px;
  line-height: 27px;
  font-style: italic;
}
