<div class="adopting-block">
  <div class="adopting-images">
    <img src="/images/adopt1.png" alt="adopt1" />
    <img src="/images/adopt2.png" alt="adopt2" />
    <img src="/images/adopt3.png" alt="adopt3" />
  </div>
  <div class="adopting-textblock">
    <div class="adopting-text">
      <h1 class="adopting-h1">Finding a Forever Friend</h1>
      <p class="adopting-p1">
        <!-- тут дивы вставить? вместо P-->
        Millions of companion animals in shelters across America are just
        waiting for a special home like yours. Navigating the adoption process
        isn't as hard as you think. We can help you find the perfect pet and
        discover how amazing adopting a pet can be.
      </p>
      <p class="adopting-p2">
        An animal shelter or a rescue group is the best source for a new pet,
        and our pet-care experts have compiled all the information you'll need
        to find your nearest group, select a pet who matches your lifestyle, and
        more.
      </p>
      <div class="adopting-link"><a href="/">Start adopting -> </a></div>
    </div>
    <div class="adopting-feedback">
      <div class="adopting-feedback-logo">
        <img src="/images/adoptlogo.jpg" alt="adoptlogo" />
      </div>
      <div class="adopting-feedback-text">
        <!--и тут дивы логичнее? -->
        <p class="adopting-feedback-text1">
          “The Mariposa Team was invaluable to my adoption process, providing
          all the necesary matierals to ensure a smooth and safe process.”
        </p>
        <p class="adopting-feedback-text1">Fido, Pedigree Pug</p>
      </div>
    </div>
  </div>
</div>
