<div class="adopting-block">
  <div class="adopting-images">
    <div class="adopting-pic1"><img src="/images/adopt1.png" alt="adopt1" /></div>
    <div class="adopting-pic2"><img src="/images/adopt2.png" alt="adopt2" /></div>
    <div class="adopting-pic3"><img src="/images/adopt3.png" alt="adopt3" /></div>
  </div>
  <div class="adopting-textblock">
    <div class="adopting-text">
      <h1 class="all-title">Finding a Forever Friend</h1>
      <div class="adopting-paragraphs">
        <p class="all-parag">
          Millions of companion animals in shelters across America are just
          waiting for a special home like yours. Navigating the adoption process
          isn't as hard as you think. We can help you find the perfect pet and
          discover how amazing adopting a pet can be.
        </p>
        <p class="all-parag">
          An animal shelter or a rescue group is the best source for a new pet,
          and our pet-care experts have compiled all the information you'll need
          to find your nearest group, select a pet who matches your lifestyle,
          and more.
        </p>
      </div>
      <div class="all-link"><a href="/">Start adopting -> </a></div>
    </div>
    <div class="adopting-feedback">
      <div class="all-feedback-logo">
        <img src="/images/adoptlogo.jpg" alt="adoptlogo" />
      </div>
      <div class="all-feedback-text">
        <blockquote>
        <p class="all-feedback-text1">
          “The Mariposa Team was invaluable to my adoption process, providing
          all the necesary matierals to ensure a smooth and safe process.”
        </p></blockquote>
        </p>
        <p class="all-feedback-name">Fido, Pedigree Pug</p>
      </div>
    </div>
  </div>
</div>
