<div class="donate-block">
  <div class="donate-textblock">
    <h1 class="all-title text-black">Keeping and</br> Caring for Animals</h1>
    <p class="parag16 text-black">
      Mariposa SPCA is a non-profit working to keep and care for animals and
      enforcing laws relating to the cruelty of animals.
    </p>
    <p class="parag32 text-black">
      The general purpose, for which this corporation is formed, is to provide
      an arena for local education and humane treatment to animals and to foster
      local interest in such a society.
    </p>
  </div>
  <div class="donate-buttons">
    <button class="all-but-donate">Donate Now</button>
    <button class="donate-but-learnmore">Learn More</button>
  </div>
</div>
