<div class="downdonate-block">
  <div class="downdonate-textblock">
    <h1 class="downdonate-h1">
      Non-Profit focused on Protecting and Preserving
    </h1>
    <p class="downdonate-p1">
      Mariposa SPCA is a non-profit working to keep and care for animals and
      enforcing laws relating to the cruelty of animals.
    </p>
    <p class="downdonate-p2">
      The general purpose, for which this corporation is formed, is to provide
      an arena for local education and humane treatment to animals and to foster
      local interest in such a society.
    </p>
  </div>
  <div class="downdonate-buttons">
    <button class="downdonate-but-donate">Donate Now</button>
    <button class="downdonate-but-learnmore">Learn More</button>
  </div>
</div>
