<div class="volonteer-block">
  <div class="volonteer-images">
    <div class="voonteer-pic1"><img src="/images/vol1.png" alt="vol1" /></div>
    <div class="volonteer-pic2"><img src="/images/vol2.png" alt="vol2" /></div>
    <div class="volonteer-pic3"><img src="/images/vol3.png" alt="vol3" /></div>
  </div>
  <div class="volonteer-textblock">
    <div class="volonteer-text">
      <h1 class="all-title">Volunteer Your </br>Valuable Time</h1>
      <p class="parag24">
        Say, “Yes, I am here,” to a lonely shelter kitty or puppy. We can all
        use a little scratch behind the ears. Donate your time to help the
        animals! Opportunities include dog walking, puppy and kitty petting,
        yard sale assistance, fundraising, community outreach, and more. Your
        valuable gift of time will have a positive impact on our community.
      </p>
      <p class="parag32">
        All of our volunteers are wonderful people just like you. As an advocate
        for animal welfare you will have many two legged and four legged
        friends! Say, “Yes, I am here,” and volunteer today.
      </p>
      <div class="all-link"><a href="/">volunteer today -> </a></div>
    </div>
    <div class="volonteer-feedback">
      <div class="all-feedback-logo">
        <img src="/images/vollogo1.png" alt="vollogo1" />
      </div>
      <div class="all-feedback-text">
        <blockquote>
          <p class="all-feedback-text1">
            “It was incredible to see the selfless Mariposa SPCA workers
            volunteer their time to my well-being and general happiness. They’ve
            had an incredible impact on our community.”
          </p>
        </blockquote>
        <p class="all-feedback-name">Whiskers, Long-Haired Tabby</p>
      </div>

      <div class="volonteer-feedback">
        <div class="all-feedback-logo">
          <img src="/images/vollogo2.png" alt="vollogo2" />
        </div>
        <div class="all-feedback-text">
          <blockquote>
            <p class="all-feedback-text1">
              “It was remarkable to see not only the impact that volunteering
              had on myself, but also the impact delivered to all of the rescued
              animals.”
            </p>
          </blockquote>
          <p class="all-feedback-name">Parker Henderson, Human</p>
        </div>
      </div>
    </div>
  </div>
</div>

